# e.g. https://contrast_instance.tld/Contrast
CONTRAST__API__URL=op://Contrast/$ENV/keys/teamserver_url

# API key of an account with access to that instance
CONTRAST__API__API_KEY=op://Contrast/$ENV/keys/api_key

# Base64 of username:service_key
CONTRAST__API__AUTH_HEADER=op://Contrast/$ENV/keys/auth_header
